@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.head {
    color: white;
    background-color: rgb(233, 143, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.3rem;
}


#rgb {
    margin: 1rem 0;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
}

.data {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    background-color: rgb(231, 240, 231);
}

#easy {
    margin: 0 0.5rem;
}

.allboxes {
    background-color: rgb(46, 199, 153);
    height: 62vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
}

.one,
.two {
    display: flex;
    gap: 10px;
    margin-top: 0.4rem;
}

.box {
    background-color: white;
    height: 25vh;
    width: 17vw;
    border: 2px solid black;
    border-radius: 10px;
}