*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 32vh;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.bulb{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn{
    cursor: pointer;
    padding: 0.3rem 0.8rem;
}